name: Build and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Build (Single File)
      run: dotnet publish -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -o publish

    - name: Get version
      id: get_version
      shell: pwsh
      run: |
        $tag = $env:GITHUB_REF -replace 'refs/tags/', ''
        echo "VERSION=$tag" >> $env:GITHUB_OUTPUT

    - name: Create ZIP
      id: create_zip
      shell: pwsh
      run: |
        $version = "${{ steps.get_version.outputs.VERSION }}"
        $zip = "DungeonRampageCheat-$version-win-x64.zip"
        Compress-Archive -Path "publish/*" -DestinationPath $zip
        echo "ZIP=$zip" >> $env:GITHUB_OUTPUT

    - uses: actions/upload-artifact@v4
      with:
        name: DungeonRampageCheat-${{ steps.get_version.outputs.VERSION }}
        path: ${{ steps.create_zip.outputs.ZIP }}

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: ${{ steps.create_zip.outputs.ZIP }}
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
